.rating button {
    background-color: transparent; /* Define o fundo como transparente */
    border: none;
    padding: 0; /* Remove o padding para eliminar o espaçamento interno */
    cursor: pointer;
}
